<!DOCTYPE html>
<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Opti-Life</title>
  </head>
  <body>
    <div id="navbar"></div>
    <div id="app">
      <div>
        loading page
      </div>
    </div>

    <!-- scripts and styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}
    {% style "/css/screen.css" %}

    <script type="text/javascript">
        var context = "{{servlet-context}}";
        var csrfToken = "{{csrf-token}}";
        var identity = {{identity|json|safe}}
    </script>

    {% script "/js/app.js" %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>




